.btn-info {
  width: 100px !important;
  color: white !important;
  font-size: 18px;
  font-weight: bold;
}
.articles {
  width: 95%;
}
.check {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  width: 130px !important;
  justify-content: flex-start !important;
  margin-right: 2rem;
}
