.card-img-top {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.productLogo {
  align-self: center;
  width: 60px;
}
.details-button {
  width: 100%;
  font-size: 17px !important;
}
.Productnumber {
  text-align: center;
  font-size: 18px !important;
  font-weight: bold !important;
}
.Productnumbermodif {
  font-size: 18px !important;
  font-weight: bold !important;
  cursor: pointer !important;
}
